
* {
  background-color: #E9F1F7;
}

body {
  max-width: 70%;
  margin: auto;
}

h2 {
  text-align: center;
  margin-top: 20px;
  font-family: 'Bevan', cursive;
}
 h5 {
  text-align: center;
  font-family: helvetica,arial;
  font-weight: bold;
 }

ul {
  text-align: center;
  list-style: none;
  padding-left: 0px;
}

ul li {
  padding: 10px;
  padding-left: 0px;
}

i {
  padding: 40px;
}

button {
  background: white;
  border: solid 0.4px black;
  margin: 3px;
}

button:focus {
  outline: none;
}

button:hover {
  color: white;
  background: grey;
  border: solid 0.4px white;
  margin: 3px;
  transition: 0.2s;
}

.App {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}
.options {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 10px;
    padding: 10px;
}
.orderList {
    display: flex;
    flex-direction: column;
    align-content: right;
    width: 97.9%;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}
.controls {
    display: flex;
    margin: 10px;
    padding: 10px;
    width: 40%;
    flex-direction: column;
}
.menu {
    display: flex;
    flex-direction: row;
    width: 1000px;
    margin: 10px;
    border: 1px solid black;
}

.menuItems {
    flex-direction: column;
    margin: 10px;
}
